.App {
  text-align: center;
}

* {
  background-color: #202020;
  color: #f0f0f0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

button {
  border-radius: 5px;
  border: 1px solid #00e0ff;
}

button:hover {
  background-color: #007080;
}